.p-insta-area {
    background-color: #f3f1f1;
    padding: 10.1875rem 0 2.2rem;

    //height: 1300px;

    //height: 1314px;

    @media (max-width: 767px) {
        padding: 2.25rem 0;
        height: 180vw;
    }
}

.p-insta-list {
    position: relative;

    &__note {
        text-align: center;
        padding: 1.25rem 0;
        background-color: #f3f1f1;
    }
}

.p-insta-btn-area {
    position: relative;

    /*  top: -103px;
     text-align: center;
     background-color: #f3f1f1;
     z-index: 999999; */
    padding-bottom: 1.2rem;

    @media (max-width: 767px) {
        /*  top: -88px;
         padding: .8rem 0 0; */
        padding-bottom: .99rem;
    }

    &__note {
        text-align: center;
        padding: 1.25rem 0 0;
        margin-bottom: .97rem;
        background-color: #f3f1f1;
        font-size: 14px;

        @media (max-width: 767px) {
            padding: 1.1rem 0 0;
            font-size: 1.22rem;
        }
    }
}

/* .iPhone {
    .p-insta-btn-area {
        top: -60px;
    }
} */

.eapps-instagram-feed.eapps-widget.eapps-widget-show-toolbar > a {
    display: none !important;
}

.eapps-instagram-feed-posts-inner {
    position: relative;

    &::after {
        // content: "※副作用・リスク：腫れ、赤み、内出血";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -.6rem;
        display: block;
        font-family: $gosic;
        font-weight: 500;
        font-size: .875rem;

        @media (max-width: 767px) {
            bottom: -20px;
            width: 80%;
            text-align: center;
        }
    }
}

.eapps-widget-toolbar ~ a {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    clip-path: polygon(1px 1px, 1px 1px, 1px 1px, 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

.eapps-instagram-feed-posts-item-image-icon-carousel {
    display: none !important;
}

/* 画像の幅 */

.eapps-instagram-feed-posts-item-template-tile {
    width: 266px !important;
    margin: 0 !important;
    margin-bottom: 26px !important;

    @media (max-width: 767px) {
        width: 30% !important;
        margin-bottom: 1.1rem !important;
    }
}

.eapps-instagram-feed-posts-view {
    display: flex !important;
    justify-content: space-between !important;
}

/* ボタン */

.p-btn-insta {
    background-color: #555555 !important;
    height: 79px !important;
    line-height: 79px !important;
    max-width: 335px !important;
    width: 65% !important;
    display: block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-family: 'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif !important;
    position: relative !important;
    font-size: 1.5625rem;

    @media (max-width: 767px) {
        height: 17vw !important;
        line-height: 17vw !important;
    }

    &::after {
        content: "";
        position: absolute;
        right: 1.375rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background: url(../img/common/c_icon_arrow_sq.png) no-repeat 50% 50% / 100% auto;

        @media (max-width: 767px) {
            height: 1.9rem;
            width: 1.9rem;
        }
    }
}

.eapps-instagram-feed-posts-grid-load-more {
    display: none !important;
    background-color: #555555 !important;
    height: 79px !important;
    line-height: 79px !important;
    max-width: 335px !important;
    width: 65% !important;
    font-size: 0 !important;
    text-indent: -9999em !important;
    font-family: 'メイリオ', Meiryo,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif !important;
    position: relative !important;

    @media (max-width: 767px) {
        height: 17vw !important;
        line-height: 17vw !important;
    }

    &::before {
        content: "続きを見る";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        z-index: 5555;
        color: #fff;
        font-size: 1.5625rem;

        @media (max-width: 767px) {
            font-size: 1.9rem;
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 1.375rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background: url(../img/common/c_icon_arrow_sq.png) no-repeat 50% 50% / 100% auto;

        @media (max-width: 767px) {
            height: 1.9rem;
            width: 1.9rem;
        }
    }
}
