@font-face {
    font-family: 'Questrial';
    src: url("../font/Questrial 400.ttf") format("truetype");
}

@font-face {
    font-family: "ruminpro-tate"; //ここは好きな名前でOK
    src: url("../font/A-OTF-RYUMINPRO-LIGHT-tate.woff") format("woff");
}

@font-face {
    font-family: "ruminpro-yoko"; //ここは好きな名前でOK
    src: url("../font/A-OTF-RYUMINPRO-LIGHT-yoko.woff") format("woff");
}

@font-face {
    font-family: 'DINPro Medium';
    font-style: normal;
    font-weight: normal;
    src: local("DINPro Medium"), url("../fonts/DINPro-Medium tr.woff") format("woff");
}

@font-face {
    font-family: 'DINPro Light';
    font-style: normal;
    font-weight: normal;
    src: local("DINPro Light"), url("../fonts/DINPro-Light tr.woff") format("woff");
}

.u-f-questrial {
    font-family: 'Questrial';
}

/*web font リュウミン*/

.u-f-ryu {
    /* font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: 1px; */
    font-family: "ruminpro-yoko";
    font-style: normal;
    line-height: 1.34;
}

/* PCは縦書き、SPは横書き */

.u-f-ryu-toggle {
    /* font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: 1px; */
    font-family: "ruminpro-tate";
    font-style: normal;
    line-height: 1.34;

    @media (max-width: 767px) {
        font-family: "ruminpro-yoko";
    }
}

/* DIN */

.u-f-din {
    font-family: 'DINPro Medium';
}

/* web font A-otf 丸ゴシック */

.u-a-otf {
    font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*font family*/

.u-mairyo {
    font-family: 'メイリオ', Meiryo,sans-serif;
}

.u-gosic {
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic','メイリオ', Meiryo,sans-serif;
}

.u-min {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ＭＳ 明朝', 'MS Mincho',sans-serif;
}

.u-maru-gosic {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ＭＳ Ｐゴシック','MS PGothic','ＭＳ Ｐゴシック','MS PGothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

/* 游ゴシック */

.u-yu-gosic {
    font-family: YuGothic,'Yu Gothic',sans-serif;
}
