.u-tl {
    text-align: left !important;
}

.u-tc {
    text-align: center;
}

.u-tr {
    text-align: right;
}

.fw600 {
    font-weight: 600;
}

.u-text-sm {
    font-size: 0.6rem;
    letter-spacing: 1px;
}

.u-vt {
    vertical-align: middle;
}

.u-under-pink {
    color: $pink;
    text-decoration: underline;
}

.u-under-blue {
    color: $blue;
    text-decoration: underline;
}

.u-under-line {
    text-decoration: underline;
}
