.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
    position: relative;
    font-size: 13px;
}

.pagination span, .pagination a {
    display: block;
    width: auto;
    margin: 4px;
    padding: 8px;
    border: 1px solid #2880c3;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    border-radius: 3px;
    color: #2880c3;
}

/* ページ番号 */
.pagination .pager {
    width: 32px;
}

/* ホバー時 & 現在のページ */
.pagination a:hover,
.pagination .current {
    color: #fff;
    border-color: #2880c3;
    background-color: #2880c3;
}

/* 前へ */
.pagination a.prev {
    margin-right: 16px;
}

/* 次へ */
.pagination a.next {
    margin-left: 16px;
}

/* 最初へ */
.pagination a.first {}

/* 最後へ */
.pagination a.last {}

/* Page x / y */
.pagination span.page_num {
    display: none;
}
