.l-wrapper {
    width: 100%;
    position: relative;

    @media (max-width: 767px) {
        min-height: 100%;
    }
}

.l-col02-fv {
    @media (max-width: 767px) {
        flex-flow: column;
    }
}

.l-col02_wrapper {
    @media (max-width: 767px) {}
}
